body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  width: 110%;
  box-sizing: 200px;
  background-color: #005f73; /* or your preferred color */
  color: white;
  padding: 3rem;
}


#course-title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: green;
  border-radius: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.card1 {
  flex-direction:left ;
  background-color: gray;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  width: 114%;
  text-align: center;
  padding: 1rem;
  background-color: #005f73;
  color: white;
}
.card-container {
  text-align: left;
  width:2px;
  padding-right: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  gap: 2rem;
  min-width: 200px;
}

.card2 {
  size-adjust: 2000px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(2,2,2,0.1);
}
